extends layout

block scripts 
  script(src="/javascripts/video.js")
  script(src="/javascripts/amber.js")

block styles
  link(rel="stylesheet", href="/stylesheets/video.css")


block content
  h1 Aufnahme aus Projekt #{video.project}
  h2 Datei #{video.path}
  div#video
    video(src= video.url controls)
      if video.vtt
        track(label="Subtitles" kind="subtitles" src=video.vtturl)

    if video.vtt
        textarea#vtt-area(disabled)= video.vtt
    else 
        textarea#vtt-area(disabled) Keine Untertitel

  div#video-controls
    div.row-order
      button.action(onclick="openAmberDialog('"+video.project+"', '"+video.path+"')") 
        i.fas.fa-closed-captioning
        span Untertitel generieren
      button.action(onclick="activateVTTEditor()")
        i.fas.fa-edit
        span Untertitel bearbeiten
      button#save-button.action(disabled onclick="openSaveDialog()")
        i.fas.fa-save
        span Untertitel speichern

block dialogs
  dialog#amber-dialog
    div#amber-message.dialog-message
    div.video-data
      label(for="video-filename") Dateiname
      div#amber-filename
      label(for="video-length") Video-Länge
      div#amber-length
      label(for="video-subtitles") Untertitel
      div#amber-hasvtt
    div.amberscript-options
      label(for="amberscript-speakers") Anzahl Sprecher
      select#amberscript-speakers
        option(value="1" selected) 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
      label(for="amberscript-language") Sprache
      select#amberscript-language
        option(value="de" selected) Deutsch 
        option(value="en") Englisch
      //-
        option(value="de" selected) Deutsch
        option(value="de-at") Deutsch (Österreich)
        option(value="de-ch") Deutsch (Schweiz)
        option(value="en") Englisch
        option(value="en-uk") Englisch (Vereinigtes Königreich)
        option(value="en-us") Englisch (Vereinigte Staaten)
        option(value="en-au") Englisch (Australien)
        option(value="af-za") Afrikaans (Südafrika)
        option(value="sq-al") Albanisch
        option(value="am-et") Amharic (Ethiopia)
        option(value="ar") Arabic
        option(value="hy-am") Armenisch (Armenien)
        option(value="az-az") Azerisch (Azerbaijan)
        option(value="id-id") Indoneisch (Indonesien)
        option(value="eu-es") Baskisch (Spanien)
        option(value="bn-bd") Niederländisch
        option(value="bn-in") Niederländisch
        option(value="bs-ba") Niederländisch
        option(value="bg") Niederländisch
        option(value="my-mm") Niederländisch
        option(value="ca") Niederländisch
        option(value="cmn") Niederländisch
        option(value="hr") Niederländisch
        option(value="cs") Niederländisch
        option(value="da") Niederländisch
        option(value="nl") Niederländisch
        option(value="et-ee") Niederländisch        
        option(value="fa-ir") Niederländisch
        option(value="fil-ph") Niederländisch
        option(value="fi") Niederländisch
        option(value="nl-be") Niederländisch
        option(value="fr-ca") Niederländisch
        option(value="fr") Niederländisch
        option(value="gl-es") Niederländisch
        option(value="ka-ge") Niederländisch
        option(value="el") Niederländisch
        option(value="gu-in") Niederländisch
        option(value="iw-il") Niederländisch
        option(value="hi") Niederländisch
        option(value="hu") Niederländisch
        option(value="is-is") Niederländisch
        option(value="ja") Niederländisch
        option(value="jv-id") Niederländisch
        option(value="fr") Französisch
        option(value="it") Italienisch
        option(value="pl") Polnisch
        option(value="ru") Russisch
        option(value="pt") Portugiesisch
        option(value="pt-br") Portugiesisch (Brasilien)
      label(for="amberscript-glossary") Wörterbuch
      select#amberscript-glossary
        option(value="") Kein Wörterbuch verwenden
        for glossary in glossaries
          option(value=glossary.id)= glossary.name 
    div.dialog-buttons
      button.action(onclick="requestAmber()")
        i.fas.fa-film
        span Video an Amberscript senden
      a.action(href="/amberscript/glossary/new")
        i.fas.fa-edit
        span Neues Wörterbuch anlegen
      button.action(onclick="closeAmberDialog()")
        i.fas.fa-ban
        span Dialog schließen
  dialog#vtt-dialog
    div#vtt-message Sind Sie sicher, dass Sie die Untertitel dieses Videos überschreiben wollen?
    div.dialog-buttons
      button.action(onclick="saveSubtitles('"+account.username+"','"+video.project+"', '"+video.vttpath+"')")
        i.fas.fa-save
        span Überschreiben
      button.action(onclick="closeSaveDialog()")
        i.fas.fa-ban
        span Abbrechen